---
import Layout from '../../layouts/Layout.astro'
import { allPlaylists, songs } from '@/lib/data';

const {id} = Astro.params
const playlist = allPlaylists.find(playlist => playlist.id === id)
const playListSongs = songs.find(song => song.albumId === playlist?.albumId)
---

<Layout title="Spotify Clone">
	<div 
		id="playlist-container" 
		class="relative flex flex-col h-full overflow-x-hidden bg-green-600"
		transition:name=`playlist ${id} box`
	>
		<div class="z-10 flex flex-col h-full overflow-x-hidden">
			<header class="flex flex-col gap-4 p-4">
				<div>
					<span class="rounded-full bg-zinc"> back </span>
				</div>
				<div class="flex">
					<picture class="h-aunto w-40 h-40 overflow-hidden aspect-square flex-none shadow-sm">
						<img 
							src={playlist?.cover} 
							transition:name=`playlist ${id} image`
							alt={playlist?.title}
						/>
					</picture>
					<div class="flex flex-col justify-end pl-4">
						<span class="dim-withe text-xs">Playlist</span>
						<h1 
							class="playlist__title title-clamp font-bold block pb-4 text-5xl"
							transition:name=`playlist ${playlist?.id} title`
						>
							{playlist?.title}
						</h1>
						<span 
							class="dim-withe text-xs"
							transition:name=`playlist ${playlist?.id} artist`
						>
							{playlist?.artists.join(", ")}
						</span>
						<span class="dim-withe text-xs mt-1">
							<span class="text-white">50 canciones</span>, 3h aproximadamente
						</span>
					</div>
				</div>
			</header>
			<div class="playlist__songs flex-1 relative z-10 p-4"> Hi </div>
		</div>

		<div class="background-gradient absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"></div>
	</div>
</Layout>

<style>
	#playlist-container{
		background-color: #1ed760;
		color: white;
	}
	.background-gradient{
		background: linear-gradient(to top, black, transparent);
	}

	.greetings{
		color: white;
	}

	.playlist__songs{
		background-color: #00000021;
	}
	.text-white{
		color: white;
	}
	.dim-withe{
		color: rgb(202, 202, 202);
	}

</style>